
.about-image {
    height: 365px;
    width: 365px;
    object-fit: contain;
}

.about-background-image {
    margin-top: 0;
    padding-top: 2%;
    background-image: url(../assets/images/PageBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.chelsea-box {
    margin-left: 20%;
    padding-bottom: 1%;
    margin-bottom: 3%;
    padding: 2;
}

.afshin-box {
    margin-left: 55%;
    margin-top: -35%;
    margin-bottom: 2%;
    padding: 2
}

.vince-box {
    margin-left: 20%;
    padding-bottom: 1%;
    margin-bottom: 3%;
    padding: 2;
}

.ashish-box {
        margin-left: 55%;
        margin-top: -35%;
        margin-bottom: 2%;
        padding: 2
}